#hints {
  display: flex;
  flex-direction: column;
  height: 70vh !important;
  padding: 1rem;
  gap: 0.5rem;

  [data-action='hint'],
  [action='hint'] {
    overflow-y: none !important;
    height: 1rem !important;
    padding: 1.5rem 1rem;
    background: var(--primary-color) !important;
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;

    &:hover,
    &:active {
      border-color: var(--active-color);
    }
  }
}
