#quicktools-toggler {
  border-radius: 1rem;
  box-shadow: 0 0 0;
  border-color: var(--border-color);
}

#quick-tools {
  border: 0.1rem solid var(--border-color);
  border-bottom: 0 !important;
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
  box-shadow: 0 0 0;

  #row1,
  #row1 .section:nth-child(1) {
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
  }
}
