@use "../utils/variables" as *;

#quicktools-toggler {
  color: var(--bui-bg-foreground);
  background-color: var(--bui-bg);
  border-radius: $radius-2xl;
  border-color: var(--bui-bg-muted);
  box-shadow: 0 0 0;
}

#quick-tools {
  border: $border-sm solid var(--bui-bg-muted);
  border-bottom: 0 !important;
  border-top-left-radius: $radius-2xl !important;
  border-top-right-radius: $radius-2xl !important;
  box-shadow: 0 0 0;

  #row1,
  #row1 .section:nth-child(1) {
    border-top-left-radius: $radius-2xl !important;
    border-top-right-radius: $radius-2xl !important;
  }
}

[open-file-list-pos="bottom"] {
  #quick-tools {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;

    #row1,
    #row1 .section:nth-child(1) {
      border-top-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
    }
  }

  .open-file-list {
    border-top: $border-xs solid var(--bui-bg-muted);
  }
}

.open-file-list {
  background-color: var(--bui-bg-secondary);
  border-bottom: $border-xs solid var(--bui-bg-muted);
  box-shadow: 0 0 0 !important;

  .tile {
    background-color: inherit !important;
    border: 0 !important;
    padding: 0 $u-2xs !important;

    .file {
      padding: 0 !important;
    }

    &.active {
      background: var(--bui-bg) !important;
    }
  }
}
