@use "../utils/variables" as *;

$header-height: 3.5rem;
$header-icon-size: 2rem;

wc-page {
  color: inherit !important;
  background-color: inherit !important;
  font-size: inherit !important;

  header {
    display: flex !important;
    align-items: center !important;
    height: $header-height !important;
    color: inherit !important;
    background-color: inherit !important;
    border: 0 !important;
    box-shadow: 0 0 0 !important;
    padding: $u-xs $u-md !important;
    gap: $u-md;

    .icon {
      height: $header-icon-size !important;
      width: $header-icon-size !important;
      border: $border-xs solid var(--bui-bg-muted);
      border-radius: $radius-lg;
    }

    .text {
      margin: 0 !important;

      &.sub-text {
        font-size: $text-sm !important;
      }
    }
  }
}
